{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
        </li>
        <li>
            <a href="{% url 'create_account' %}">Create Account</a>
        </li>
        <li>
            <a href="{% url 'create_category' %}">Create Category</a>
        </li>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Due Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            {% for list in receipt_list %}
                <tbody>
                    <td>{{ list.vendor }}</td>
                    <td>{{ list.total }}</td>
                    <td>{{ list.tax }}</td>
                    <td>{{ list.date|date:'m-d-Y' }}</td>
                    <td>{{ list.category }}</td>
                    <td>{{ list.account }}</td>
                </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
